.container-body {
  margin: 40px 0;
  display: flex;
  column-gap: 40px;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}

.container-left-side img {
  width: 100%;
}

.container-left-side,
.container-right-side {
  flex: auto;
}

.container-right-side {
  display: block;
}


input,
textarea {
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  margin: 20px 0;
  display: block;
}

textarea {
  resize: none;
}





.container-content {
  padding-bottom: 40px;
}

.container-contact {
  display: flex;
  flex-direction: column;
}

.container-contact .title-contact,
.container-content .title-content {
  font-size: 24px;
  margin-bottom: 20px;
}


.container-contact .input-name {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.container-contact .input-name .f-name,
.container-contact .input-name .l-name {
  flex: 50%;
}

.container-contact .input-name .f-name,
.container-contact .input-name .l-name,
.container-contact .input-email,
.container-contact .input-message {
  display: flex;
  flex-direction: column;
}


.container-contact .btn-submit {
  width: 30%;
  margin: 10px auto;
  padding: 8px 0;
  font-size: 16px;
  border: none;
  background-color: white;
  transition: 0.6s;
}



.container-contact .btn-submit:hover {
  background-color: black;
  color: white;
}


@media screen and (max-width: 800px) {
  .container-body {
    flex-direction: column;
    height: max-content;
  }

  .container-left-side,
  .container-right-side {
    margin: 20px 0;
  }
}
