<div class="container-body">
  <div class="container-left-side">
    <img src="assets\about-image\3e9f6272795c8102d84d.jpg" alt="image">
  </div>
  <div class="container-right-side">
    <div class="container-content">
      <div class="title-content">
        HI! I'M DANG VI NHIEN
      </div>
      <div class="descrip-content">
        I'm a programer. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click
        me
        to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your
        page. I’m a great place for you to tell a story and let your users know a little more about you.
      </div>
    </div>

    <div class="container-contact">
      <div class="title-contact">
        CONTACT
      </div>
      <div class="input-name">
        <div class="f-name">
          <label for=""> First Name *</label>
          <input type="text">
        </div>
        <div class="l-name">
          <label for="">Last Name *</label>
          <input type="text">
        </div>
      </div>
      <div class="input-email">
        <label for=""> Email *</label>
        <input type="email">
      </div>
      <div class="input-message">
        <label for="">Message</label>
        <textarea name="message" rows="6" cols="auto">
          </textarea>
      </div>
      <button type="submit" class="btn-submit">Submit</button>
    </div>
  </div>



</div>
