<div class="container-list-podcast">
  <div class="search-area">
    <i class='bx bx-search'></i>
    <input type="search" class="input-search" placeholder="Search Podcast...">
  </div>
  <div class="list-area">
    <img src="assets\about-image\3e9f6272795c8102d84d.jpg" alt="image">
    <div class="content">
      <div formControlName="name" class="name">Maker - with guest Jaydan Johns</div>
      <div formControlName="category" class="category">11/12/2014 | 12 mins</div>
      <div formControlName="description" class="description">Do you have video episodes in your podcast? Any podcast
        episodes will get a video player.</div>
    </div>
  </div>







</div>
