.container-header{

  nz-header{
    background-color: #1976d2;
    display: flex;
    align-items: center;
  }


}


.logo {
  height: 31px;
  margin: 16px 30px 16px 0;
  float: left;
  color: white;
  span{
    justify-content: center;
    display: flex;
    align-items: center;
    i{
      font-size: 26px;
    }
  }
}

.header-menu {
  line-height: 64px;
  background-color: #1976d2 ;
  color: white;

  .header-menu-item{
      color: white;
      text-transform: uppercase;
  }

  .active{
    font-weight: 700;
  }


}
