<div class="container-header">
  <nz-header class = "header">
    <div class="logo">
      <span><i nz-icon nzType="thunderbolt" nzTheme="outline" style="color: white;"></i></span>
    </div>
    <ul nz-menu nzMode="horizontal" class="header-menu">
      <li nz-menu-item class="header-menu-item" routerLinkActive="active">Trang chủ</li>
      <li nz-menu-item class="header-menu-item" routerLink = "to-do" routerLinkActive="active">Task</li>
      <li nz-menu-item class="header-menu-item" routerLink="danh-sach" routerLinkActive="active">Danh sách</li>

    </ul>
  </nz-header>
  <app-breadcrumb></app-breadcrumb>
</div>
