<div class = "container-body">
  <div class="title">
    <a routerLink="/home" class = "main-title"> design of life</a>
  </div>
  <div class="container-footer flex-item">
      <div class="social-media">
        <i class='bx bxl-facebook'></i>
        <i class='bx bxl-twitter' ></i>
        <i class='bx bxl-pinterest-alt' ></i>
        <i class='bx bxl-instagram'></i>
      </div>

      <div class="contact-us flex-item">
        <label for="">Enter your email here * </label>
        <input type="email" name="" id="">
        <button class = "btn-sub" type="submit">Subscribe Now</button>
      </div>
      <div class="copy-right flex-item">
          <p>© 2022 by Design for Life. <br>
            Proudly created with Wix.com</p>
      </div>
  </div>
</div>

