
  <div class="main-background">
  </div>
  <div class="container-home">
    <div class="list-tag">
      <img src="assets/image-tag/1.webp" alt="image">
      <div class="content">
        <div class="user">
          <div class="detail-user">
            <img src="assets/image-tag/1.webp" alt="image" style="width: 40px; height: 40px;">
            <div class="name-user">
              <p class="name">Reventor <i class='bx bxs-crown'></i></p>
              <p class="last-time-onl">5 hours ago <i class='bx bx-wifi-0'></i> 15 miuters</p>
            </div>
          </div>
          <button class=" btn-dots"><i class='bx bx-dots-vertical-rounded'></i></button>
        </div>
        <div class="title">
          <a href="#">PLAYING WITH PATTERNS</a>
        </div>
        <div class="description">
          <span> Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your
            audience to continue reading....</span>
        </div>
        <div class="interaction">
          <div class="comment">
            <p>0 views / 0 comments</p>
          </div>
          <div class="heart">
            <i class='bx bx-heart'></i>
          </div>
        </div>
      </div>
    </div>
    <button class="btn-view-all">View All Posts </button>
  </div>


 